.blue_circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    transform: translate(400px, 50px);
    background-image: linear-gradient(45deg, #04AAFF, rgb(0, 149, 242), rgb(0, 121, 242));
    background-size: cover;

    border: 4px solid #047dff;
    color: white;
    overflow: hidden;
}

.blue_circle:hover {
    background-color: #04AAFF;
    border: 4px solid #047dff;
    color: white;
    background-position: 50% 50%;

}


@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.clock-container {
    font-family: "Montserrat";
    height: 10%;
    text-align: center;
    width: 90%;
}

.clock-containerDiv {
    position: relative;

}

.container time {
    font-family: "Montserrat";
    font-weight: 300;
    transform: translate(-100%, -105%);
}

.container time.time {
    font-size: 60px;
    color: black;
}

.container time.seconds {
    font-size: 30px;
    margin-left: 10px;
    color: black;
}

.attques {
    margin-left: 10px;
    color: black;
    font-size: 40px;
}

.clock-containerDiv span:last-child {
    display: inline-block;
    font-size: 40px;
    margin-left: 20px;
    position: relative;
    font-weight: 700;
    font-family: 'Montserrat';
}

.attendBtn {
    position: relative;
    font-family: 'Montserrat';
    font-size: 30px;
    color: black;
    bottom: -70px;
    left: 120px;
}