:root {
  --block-size: 40px;
  --block-size-b: 30px;
  --border-weight: 18px;
  --check-color: #eee;
  --check-delay: 0s;
}

.CBcontent {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out all;
  overflow: hidden;
}

.big-check {
  display: none;
}

.CBcontainer {
  display: grid;
  grid:
    var(--block-size) repeat(4, var(--block-size-b)) var(--block-size) / var(--block-size) repeat(4, var(--block-size-b)) var(--block-size);
  grid-gap: 0px;
  grid-auto-flow: row;
  transition: transform 3s ease 0s, grid-gap 0.2s ease;
  cursor: pointer;
}

.blok {
  transition: transform 1s ease var(--check-delay), border-color 0.8s ease 1.7s;
}

.blok:nth-child(3n) {
  border-right: var(--border-weight) solid var(--check-color);
}

.blok:nth-child(3n-2) {
  border-left: var(--border-weight) solid var(--check-color);
}

.blok:nth-child(-n + 3) {
  border-top: var(--border-weight) solid var(--check-color);
}

.blok:nth-child(n + 7) {
  border-bottom: var(--border-weight) solid var(--check-color);
}

.check-a {
  --check-delay: 0s;
  grid-row: 1 / span 2;
}

.side-top {
  --check-delay: 0s;
  grid-column: 2 / span 3;
}

.check-b {
  --check-delay: 0.3s;
  grid-column: 5 / span 2;
}

.side-left {
  --check-delay: 0.9s;
  grid-row: 3 / span 3;
}

.center {
  grid-row: 2 / span 4;
  grid-column: 2 / span 4;
  visibility: hidden;
}

.side-right {
  --check-delay: 0.3s;
  grid-row: 2 / span 3;
  grid-column: 6 / span 1;
}

.check-d {
  --check-delay: 0.9s;
  grid-column: 1 / span 2;
}

.side-bottom {
  --check-delay: 0.6s;
  grid-column: 3 / span 3;
}

.check-c {
  --check-delay: 0.6s;
  grid-row: 5 / span 2;
  grid-column: 6 / span 1;
}

input[type="checkbox"]:not(:checked)~.CBcontainer:hover {
  grid-gap: 10px;
}

input[type="checkbox"]:checked~.bg-div {
  opacity: 0;
}

input[type="checkbox"]:checked~.CBcontainer {
  -webkit-animation: openclosed 2s ease 0s;
  animation: openclosed 2s ease 0s;
  transform: rotate(720deg);
  --check-color: #55ff72;
}

input[type="checkbox"]:checked~.CBcontainer .check-a {
  transform: translate(83px, 57px) rotate(-135deg) scale(1.4);
}

input[type="checkbox"]:checked~.CBcontainer .side-top {
  transform: translate(15px, 15px) rotate(-360deg) scale(1.89, 1);
}

input[type="checkbox"]:checked~.CBcontainer .check-b {
  transform: translate(-62px, 72px) rotate(-225deg) scale(1.4);
}

input[type="checkbox"]:checked~.CBcontainer .side-left {
  transform: translate(15px, -15px) rotate(-360deg) scale(1, 1.7);
}

input[type="checkbox"]:checked~.CBcontainer .side-right {
  transform: translate(-14.6px, 15px) rotate(-360deg) scale(1, 1.8);
}

input[type="checkbox"]:checked~.CBcontainer .check-d {
  transform: translate(68px, -88px) rotate(-45deg) scale(1.4);
}

input[type="checkbox"]:checked~.CBcontainer .side-bottom {
  transform: translate(-15.9px, -13px) rotate(-360deg) scale(1.88, 1);
}

input[type="checkbox"]:checked~.CBcontainer .check-c {
  transform: translate(-77px, -73px) rotate(-315deg) scale(1.4);
}

@-webkit-keyframes openclosed {
  0% {
    grid-gap: 10px;
  }

  50% {
    grid-gap: 30px;
  }

  100% {
    grid-gap: 0px;
  }
}

@keyframes openclosed {
  0% {
    grid-gap: 10px;
  }

  50% {
    grid-gap: 30px;
  }

  100% {
    grid-gap: 0px;
  }
}