
:root {
  --bg-body: #cfcfcf;
  --bg: rgb(165, 165, 165)f;
  --upper-height: 140px;
  --trs-time: 0.8s;
  --trs-time-sm: 0.35s;
  --trs-ease: ease;
}


.key {
  width: 100%;
  height: 100%;
  font-size: 0.7em;
}

.key__row {
  padding: 15% 0% 0% 0%;
}

#calcBtn {
  padding: 3.5%;
}



.calc {
  align-content: center;
  margin-top: 2em;
  width: 20em;
  aspect-ratio: 1/1.3;
  background: #e9eaec;
  padding: 2.5234em;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  box-shadow: inset 0.3em 0.3em 0.8em 0px rgba(0.15, 0.15, 0.15, 0.15),
    inset -0.3em 0em 0.8em 0px rgba(0, 0, 0, 0.1),
    inset 0.3em 0.3em 0.8em 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .calc .receiptName{
    margin: 0%;
    width: 100%;
    padding: 2em;
  }
}

.calcinput {
  width: 100%;
  height: 100%;
  background: linear-gradient(-30deg, rgba(5, 5, 5, 0.1), rgba(126, 126, 126, 0), rgba(54, 54, 54, 0.1)) 100% 0% / 100% 100%, #DBE7E5;
  box-shadow: inset 0.3em 0.3em 0.6em 0px rgba(60, 60, 60, 0.2),
    inset -3px -3px 0.6em 0.1em rgba(0, 0, 0, 0.25),
    inset 0px 0em 1.2em 0px rgba(0, 0, 0, 0.25),
    inset 0px 0.3em 0.2em 0px rgba(0, 0, 0, 0.25);
    /* 0px 0.3em 0.2em 0px rgba(8, 8, 8, 0.85); */
  border: 2cqmax solrgb(176, 176, 176)656;
  
}
.calcinput[type="number"]::-webkit-outer-spin-button,
.calcinput[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.result {
  height: 3em;
}

@media (max-width: 576px) {
  .result {
    height: 4em;
  }
}

.result__inner {
  text-shadow: 0.10em 0.10em rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #2A3027;
  height: 100%;
}

.result__inner .prev-operand .calcinput {
  font-size: 2em;
}

.result__inner .current-operand .calcinput {
  font-size: 4em;
  font-size: clamp(1.25rem, 0.5368rem + 3.17vw, 2.5rem);
  font-size: clamp(1.375rem, 0.7338rem + 2.85vw, 2.5rem);
  font-size: clamp(1.5625rem, 1.027rem + 2.38vw, 2.5rem);
}

@media (max-width: 576px) {
  .key__row {
    gap: 0.8em;
  }
}

.key {
  height: 3em;
  color: rgba(0, 0, 0, 0.7);
  border: unset;
  font-family: 'Rubik', sans-serif;
  background: #e3ebfc;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1em;
  transition: all 0.25s ease;
}

.key:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0.03em 0.03em 0.1em 0px,
    rgba(0, 0, 0, 0.05) 0.01em 0.01em 0.1em 0px,
    rgba(255, 255, 255, 0.55) 0em 0em 0.5em 10px inset;
}

.key:nth-of-type(1) {
  box-shadow: unset;
  box-shadow: rgba(0, 0, 0, 0.45) 0.03em 0.03em 0.1em 0px,
    rgba(0, 0, 0, 0.25) 0.01em 0.03em 0.1em 0px,
    rgba(255, 255, 255, 0.25) 0em 3em 0.5em 10px inset,
    rgba(0, 0, 0, 0.15) 0.03em 0.03em 0.1em 0px inset;
}

.key:nth-of-type(1):hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0.03em 0.03em 0.1em 0px,
    rgba(0, 0, 0, 0.05) 0.01em 0.01em 0.1em 0px,
    rgba(255, 255, 255, 0.25) 0em 0em 0.5em 10px inset;
  color: #fff;
}


/* ===영수증 css === */


.receipt {
  width: 400px;
  max-width: 100%;
  margin: auto;
  position: relative;
  pointer-events: auto;
  

}

.receipt__half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background: white;
  perspective: 1000px;
  pointer-events: auto;

}
.receipt__half::after {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.8s ease;
  transition-delay: 0.35s;
  pointer-events: auto;

}

.active .receipt__half::after {
  transition-delay: 0s;
  pointer-events: auto;

}

.upper {
  padding: 20px;
  z-index: 10;
  pointer-events: auto;
}

.upper::after {
  top: 100%;
  background: #f7f7f7;
  border-top: 1px dashed #dedede;
  transform: rotate3d(1, 0, 0, -90deg);
  transform-origin: top center;
  pointer-events: auto;

}

.active .upper::after {
  background: white;
  transform: rotate3d(1, 0, 0, 0deg);
  pointer-events: auto;

}

.lower {
  transition: transform 0.8s ease;
  transition-delay: 0.35s;
}

.lower::after {
  bottom: 100%;
  background: #ebebeb;
  transform: rotate3d(1, 0, 0, 90deg);
  transform-origin: bottom center;
}

.active .lower {
  border-top: none;
  transform: translateY(200px);
  transition-delay: 0s;
}

.active .lower::after {
  background: white;
  transform: rotate3d(1, 0, 0, 0deg);
}


h1.page-title {
  text-align: center;
  margin-bottom: 60px;
}

p {
  margin: 0;
}
p.sm {
  font-size: 80%;
}

.toBtn {
  z-index: 10;;
  width: 100%;
  padding: 15px 20px;
  background: none;
  outline: none;
  border: none;
  border-top: 1px dashed #dedede;
  color: #888;
  font-size: 90%;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 0.35s;


}

.toBtn:hover {
  color: #484848;
  pointer-events:all;

}

.receipt__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 210px;
  padding: 20px;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 20;
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity ease 0.35s, transform ease 0.35s;
  transition-delay: 0s;
  padding: 2em;
  pointer-events:none;


}




.active .receipt__content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s;
  pointer-events: auto;

}

.smP{
  font-size: 0.8em;
  text-align: right;
  color: #888;
  margin: 0.3em;
  z-index: 10;
  margin-top: 10px;

}
.rightCol{
text-align: right;
z-index: 3;

}

.PayMangementTitle{
  background-color: #2A3027;
}
.PayTitle{
  text-align: center;
}
.PayContainer{
  height: 35em;
  
}

/* ==========================*/

