.key{
    /* padding: %; */
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    /* background-color:blueviolet; */
    /* margin: 2%; */
}
.key__row{
    /* width: 140%; */
    padding: 15% 0% 0% 0%;
    /* margin-left: -20%; */
    /* margin: 0%; */
    /* padding: 10%; */
/* background-color: aqua; */
}
#calcBtn{
padding: 3.5%;
}


/* #custom-button {
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .custom-button:hover {
    background-color: #333;
    color: #fff;
  }
   */

   /* calc.css */

   /* * {
    box-sizing: border-box;
  }
   */
  /* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background: #232323;
  }
   */

  
  .calc {
    margin-left: 20%;
    margin-top: 2em;
    width: 20em;
    aspect-ratio: 1/1.3;
    /* margin: 2em; */
    background: #EBECE9;
    padding: 2.5234em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    box-shadow: inset 0.3em 0.3em 0.8em 0px rgba(49, 49, 49, 0.15),
                inset -0.3em 0em 0.8em 0px rgba(80, 80, 80, 0.15),
                inset 0.3em 0.3em 0.8em 0px rgba(0, 0, 0, 0.25);
  }
  
  @media (max-width: 576px) {
    .calc {
        margin: 0%;
        width: 100%;
        padding: 2em;
    }
  }
  
  .result {
    height: 3em;
    background: linear-gradient(-30deg, rgba(34,33,38,0.1), rgba(34,33,38,0), rgba(34,33,38,0.1)) 100% 0% / 100% 100%, #DBE7E5;
    box-shadow: inset 0.3em 0.3em 0.6em 0px rgba(0, 0, 0, 0.2),
                inset -3px -3px 0.6em 0.1em rgba(0, 0, 0, 0.25),
                inset 0px 0em 1.2em 0px rgba(0, 0, 0, 0.25),
                inset 0px 0.3em 0.2em 0px rgba(0, 0, 0, 0.25),
                0px 0.3em 0.2em 0px rgba(255, 255, 255, 0.85);
    /* padding: 2em; */
  }
  
  @media (max-width: 576px) {
    .result {
      height: 4em;
    }
  }
  
  .result__inner {
    text-shadow: 0.10em 0.10em rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #2A3027;
    height: 100%;
    /* font-family: 'PT Mono', monospace; */
  }
  
  .result__inner .prev-operand {
    font-size: 2em;
  }
  
  .result__inner .current-operand {
    font-size: 4em;
    font-size: clamp(1.25rem, 0.5368rem + 3.17vw, 2.5rem);
    font-size: clamp(1.375rem, 0.7338rem + 2.85vw, 2.5rem);
    font-size: clamp(1.5625rem, 1.027rem + 2.38vw, 2.5rem);
  }
  
  
  @media (max-width: 576px) {
    .key__row {
      gap: 0.8em;
    }
  }
  
  /* .key {
    color: rgba(0, 0, 0, 0.7);
    border: unset;
    box-shadow: 0.03em 0.03em 0.1em 0px rgba(0, 0, 0, 0.15),
                0.01em 0.01em 0.1em 0px rgba(0, 0, 0, 0.15),
                0em 0em 0.5em 10px inset rgba(255, 255, 255, 0.55);
    font-family: 'Rubik', sans-serif;
    font-size: 4em;
    font-size: clamp(1rem, 0.3228rem + 3.01vw, 2.1875rem);
    background: #EBECE9;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1em;
    transition: all 0.25s ease;
  }
  
  .key:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0.03em 0.03em 0.1em 0px,
                rgba(0, 0, 0, 0.05) 0.01em 0.01em 0.1em 0px,
                rgba(255, 255, 255, 0.55) 0em 0em 0.5em 10px inset;
  }
  
  .key[data-number] {
    font-size: clamp(1.5625rem, 1.027rem + 2.38vw, 2.5rem);
  }
  
  .key:nth-of-type(1) {
    background-color: #C34F61;
    box-shadow: unset;
    box-shadow: rgba(0, 0, 0, 0.45) 0.03em 0.03em 0.1em 0px,
                rgba(0, 0, 0, 0.25) 0.01em 0.01em 0.1em 0px,
                rgba(225, 167, 176, 0.25) 0em 0em 0.5em 10px inset,
                rgba(0, 0, 0, 0.15) 0.03em 0.03em 0.1em 0px inset
  }
                .key:nth-of-type(1):hover {
                    box-shadow: rgba(0, 0, 0, 0.15) 0.03em 0.03em 0.1em 0px,
                                rgba(0, 0, 0, 0.05) 0.01em 0.01em 0.1em 0px,
                                rgba(225, 167, 176, 0.25) 0em 0em 0.5em 10px inset;
                    color: #fff;
                  }
                  
                  .key:nth-of-type(16) {
                    grid-row: 4/6;
                    grid-column: 4/4;
                  }
                   */