.calendarHead {
    display: flex;
    justify-content: space-between;
    height: 50px;

    margin: 15px 0;
}

.calendarTitle {
    margin: 5px 1%;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Nanum Barun Gothic';
}

.ant-message-custom-content {
    z-index: 1500 !important;
}

.calendarBtnWrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 5px;
}