.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    /* 애니메이션 효과 설정 */
}

.cart-badge.animate {
    transform: scale(1.5);
    /* 숫자 변경 시 애니메이션 효과 적용 */
    top: -18px;
    /* 위로 이동하는 애니메이션 효과 */
}