.input-group {
    margin-bottom: 15px;
}

.img-div {
    margin-bottom: 10px
}

.fieldError {
    color: #bd2130;
}

.ant-form-item-required {
    display: block;
    margin-right: 10px;
    min-width: 120px;
}