


.container {
  width: 60%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #000;
}

.input-group {
    margin-top: 10px;
    padding:10px; 
}

.list-group {
    height:500px; 
    overflow-y:auto; 
    background-color:#f2f3f5;
}

.list-group-item {
   word-wrap: break-word;  
   display:flex;
   padding-left :15px
}

.align-left { 
   align-items:flex-start;  
} 

.align-right {  
   align-items:flex-end;   
} 

.align-left::before, .align-right::after{
 content:"";
 flex-grow :1 ;
 border-bottom :1px solid #e8e8e8 ;
 margin :10px
}

.align-left .message-content{     
 background-color:#f1f0f0 ;   
 color:black ;
}
.delete-button {
  border: none;
  color: red;
  background-color: transparent;
  cursor: pointer;
}

.delete-button:hover {
  font-weight: bold;
}